In [1]:
import pandas as pd

In [2]:
CONTRACT_INTRADAY_SLIDING_OPEN_FILE_PATH = '../data/processed/futures_contracts/contract_open_enriched_sliding_open.csv'
CONTRACT_INTRADAY_TRUE_OPEN_FILE_PATH = '../data/processed/futures_contracts/contract_open_enriched_true_open.csv'
CONTRACT_OVERNIGHT_CHANGES_SLIDING_OPEN_FILE_PATH = '../data/processed/futures_contracts/overnight_changes_by_contract_sliding_open.csv'
CONTRACT_OVERNIGHT_CHANGES_TRUE_OPEN_FILE_PATH = '../data/processed/futures_contracts/overnight_changes_by_contract_true_open.csv'

In [3]:
def intraday_open_csv_to_df(filename) -> pd.DataFrame:
    csv_as_df = pd.read_csv(
        filename,
        parse_dates=['DateTime'], 
        usecols=[
          'Symbol','DateTime','Open Minutes Offset','Open','High','Low','Close',
            'Volume','Price Change From Intraday Open','Expiration Date','DTE'
          ]
    )
    return csv_as_df

In [4]:
def overnight_changes_csv_to_df(filename) -> pd.DataFrame:
  csv_as_df = pd.read_csv(
    filename,
    parse_dates=['Date'],
    usecols=['Symbol','Date','12:59 Change','13:04 Change','Last Bar Change']
  )
  return csv_as_df

In [5]:
intraday_sliding_open_df = intraday_open_csv_to_df(CONTRACT_INTRADAY_SLIDING_OPEN_FILE_PATH)
intraday_true_open_df = intraday_open_csv_to_df(CONTRACT_INTRADAY_TRUE_OPEN_FILE_PATH)
overnight_sliding_open_df = overnight_changes_csv_to_df(CONTRACT_OVERNIGHT_CHANGES_SLIDING_OPEN_FILE_PATH)
overnight_true_open_df = overnight_changes_csv_to_df(CONTRACT_OVERNIGHT_CHANGES_TRUE_OPEN_FILE_PATH)

In [6]:
unique_symbols = list(intraday_true_open_df.Symbol.unique())

In [7]:
overnight_true_open_twelve_fifty_nine_df = overnight_true_open_df[overnight_true_open_df['12:59 Change'].notna()]
overnight_true_open_twelve_fifty_nine_df

      Symbol       Date  12:59 Change  13:04 Change  Last Bar Change
134    LEG09 2008-08-05        -0.500           NaN           -0.425
143    LEG09 2008-08-18         0.050           NaN            0.000
144    LEG09 2008-08-19        -0.575           NaN           -0.150
152    LEG09 2008-08-29        -0.225           NaN            0.300
156    LEG09 2008-09-05        -0.475        -0.475           -0.325
...      ...        ...           ...           ...              ...
25816  LEZ20 2020-12-14        -0.175           NaN            0.025
25820  LEZ20 2020-12-18         0.550         0.600            0.125
25822  LEZ20 2020-12-22        -0.175           NaN            0.050
25825  LEZ20 2020-12-28        -0.150        -0.150           -0.150
25828  LEZ20 2020-12-31         0.300           NaN           -0.100

[11202 rows x 5 columns]

In [8]:
overnight_true_open_twelve_fifty_nine_positive_change_df = overnight_true_open_twelve_fifty_nine_df[overnight_true_open_twelve_fifty_nine_df['12:59 Change'] >= 0]
overnight_true_open_twelve_fifty_nine_negative_change_df = overnight_true_open_twelve_fifty_nine_df[overnight_true_open_twelve_fifty_nine_df['12:59 Change'] < 0]
display(overnight_true_open_twelve_fifty_nine_positive_change_df)
display(overnight_true_open_twelve_fifty_nine_negative_change_df)

      Symbol       Date  12:59 Change  13:04 Change  Last Bar Change
143    LEG09 2008-08-18         0.050           NaN            0.000
165    LEG09 2008-09-18         0.675         0.550            0.250
166    LEG09 2008-09-19         1.625         1.750            0.750
167    LEG09 2008-09-22         0.475         0.425            0.300
169    LEG09 2008-09-24         0.225         0.325            0.150
...      ...        ...           ...           ...              ...
25804  LEZ20 2020-11-25         0.100         0.175            0.175
25809  LEZ20 2020-12-03         0.050        -0.050            0.175
25810  LEZ20 2020-12-04         0.325         0.400            0.000
25820  LEZ20 2020-12-18         0.550         0.600            0.125
25828  LEZ20 2020-12-31         0.300           NaN           -0.100

[6064 rows x 5 columns]

      Symbol       Date  12:59 Change  13:04 Change  Last Bar Change
134    LEG09 2008-08-05        -0.500           NaN           -0.425
144    LEG09 2008-08-19        -0.575           NaN           -0.150
152    LEG09 2008-08-29        -0.225           NaN            0.300
156    LEG09 2008-09-05        -0.475        -0.475           -0.325
162    LEG09 2008-09-15        -0.150           NaN           -0.600
...      ...        ...           ...           ...              ...
25814  LEZ20 2020-12-10        -0.250        -0.250           -0.225
25815  LEZ20 2020-12-11        -0.200        -0.200            0.000
25816  LEZ20 2020-12-14        -0.175           NaN            0.025
25822  LEZ20 2020-12-22        -0.175           NaN            0.050
25825  LEZ20 2020-12-28        -0.150        -0.150           -0.150

[5138 rows x 5 columns]

In [66]:
for symbol in unique_symbols[0:1]:
  dates_of_negative_change_series = overnight_true_open_twelve_fifty_nine_negative_change_df[overnight_true_open_twelve_fifty_nine_negative_change_df['Symbol'] == symbol]['Date']
  dates_of_negative_change_series = dates_of_negative_change_series[0:2]
  true_open_minute_barsl_df = intraday_true_open_df[intraday_true_open_df['Symbol'] == symbol]
  true_open_minute_bars_for_symbol_negative_changedf = true_open_minute_barsl_df[true_open_minute_barsl_df['DateTime'].dt.date.isin(dates_of_negative_change_series) ]

In [67]:
true_open_minute_bars_for_symbol_negative_changedf.iloc[0:5]

,Symbol,DateTime,Open Minutes Offset,Open,High,Low,Close,Volume,Price Change From Intraday Open,Expiration Date,DTE
346,LEG09,2008-08-19 10:05:00,0,106.925,106.925,106.900,106.900,7,-0.025,2009-02-27,192
347,LEG09,2008-08-19 10:06:00,1,106.800,106.800,106.800,106.800,8,-0.125,2009-02-27,192
348,LEG09,2008-08-19 10:12:00,7,106.775,106.775,106.775,106.775,1,-0.150,2009-02-27,192
349,LEG09,2008-08-19 10:13:00,8,106.650,106.650,106.625,106.625,4,-0.300,2009-02-27,192
350,LEG09,2008-08-19 10:14:00,9,106.700,106.700,106.700,106.700,2,-0.225,2009-02-27,192

In [68]:
dates_of_negative_change_series

134   2008-08-05
144   2008-08-19
Name: Date, dtype: datetime64[ns]

In [73]:
temp_series = pd.Series([pd.Timestamp(2008, 8, 5)])
temp_series

0   2008-08-05
dtype: datetime64[ns]

In [76]:
intraday_true_open_df

,Symbol,DateTime,Open Minutes Offset,Open,High,Low,Close,Volume,Price Change From Intraday Open,Expiration Date,DTE
0,LEG09,2008-02-05 10:05:00,0,103.800,103.950,103.800,103.950,3,0.150,2009-02-27,388
1,LEG09,2008-02-05 10:14:00,9,104.050,104.500,104.050,104.500,9,0.700,2009-02-27,388
2,LEG09,2008-03-24 10:05:00,0,103.500,103.500,103.500,103.500,2,0.000,2009-02-27,340
3,LEG09,2008-03-25 10:05:00,0,104.000,104.000,104.000,104.000,1,0.000,2009-02-27,339
4,LEG09,2008-04-08 10:05:00,0,104.500,104.500,104.500,104.500,1,0.000,2009-02-27,325
...,...,...,...,...,...,...,...,...,...,...,...
811850,LEZ20,2020-12-31 10:15:00,45,112.875,112.875,112.875,112.875,3,0.475,2020-12-31,0
811851,LEZ20,2020-12-31 10:17:00,47,112.900,112.900,112.900,112.900,2,0.500,2020-12-31,0
811852,LEZ20,2020-12-31 10:18:00,48,112.900,112.900,112.900,112.900,1,0.500,2020-12-31,0
811853,LEZ20,2020-12-31 10:20:00,50,112.900,112.900,112.900,112.900,7,0.500,2020-12-31,0
811854,LEZ20,2020-12-31 10:21:00,51,112.900,112.900,112.900,112.900,2,0.500,2020-12-31,0